@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.background-image 
{
    background-image: url('https://cdn2.vectorstock.com/i/1000x1000/43/21/modern-map-europe-with-countries-and-labels-vector-23694321.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    height: 230px;
    margin: 0; 
    padding: 0;
}

@media (max-width: 768px) {
  .background-image {
      height: 150px;
  }
}

@media (max-width: 480px) {
  .background-image {
      height: 100px;
  }
}
.login-background-image 
{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/58/1799_Clement_Cruttwell_Map_of_Europe_-_Geographicus_-_Europe-cruttwell-1799.jpg');
    background-size: cover;
    background-position: center;
   
}
#map {
    width: 100%;
    height: 900px;
}


.zoom {
    padding: 50px;
    transition: transform .2s; 
    width: 420px;
    height: 420px;
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.5); 
  }

  .zoomAboutUs {
    padding: 50px;
    transition: transform .2s; 
    width: 600px;
    height: 700px;
    margin: 0 auto;
  }
  .zoomAboutUs:hover {
    transform: scale(1.2); 
  }

  input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
 
  input[type=text]:focus {
    width: 110%;
  }
  .gallZoom{
    margin: 0 auto;
  }
  .gallZoom:hover{
    transform: scale(1.1); 
  }

  .login-form {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/58/1799_Clement_Cruttwell_Map_of_Europe_-_Geographicus_-_Europe-cruttwell-1799.jpg');
    background-size: cover;
    background-position: center;
   
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    width: 50%; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    color: rgb(15 118 110);
}

.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"],
.login-form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    
}

.login-form textarea {
    height: 100px;
}

.login-form button {
    width: 45%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.login-form button[type="submit"] {
    background-color: rgb(15 118 110);
    color: rgb(253 186 116);
}

.login-form button[type="reset"] {
    background-color: #ccc;
    color: rgb(15 118 110);
    margin-top: 10px;
}

.alert {
    margin-bottom: 20px;
}

.burger-menu {
  display: none; /* Hide burger menu by default */
  cursor: pointer;
}


nav.active {
    display: flex;
    flex-direction: column;
}
@media (max-width: 768px) {
  #app header nav {
      display: none; 
  }

  .burger-menu {
      display: flex;
     
  }
}

@media (max-width: 768px) {
  .grid-cols-1 {
      grid-template-columns: 1fr; 
  }
  .grid-cols-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr)); 
  }
  
}

